In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Country raw mineral production.csv")

In [3]:
df = data.reset_index()  # make sure indexes pair with number of rows

for index, row in df.iterrows():
    if row['Mineral'] == 'Gold' or row['Mineral'] == 'Silver'or row['Mineral'] == 'Palladium'or row['Mineral'] == 'Platinum':
        df.iat[index,df.columns.get_loc('Count')] = df.iat[index,df.columns.get_loc('Count')]/1000

In [4]:
df.to_csv('Australia yearly count.csv')

# Palladium

In [9]:
data = pd.read_csv("6.3a. Development_status palladium.csv")

In [10]:
print(data)

           Development status unit   2016   2017   2018   2019   2020
0        Developed Countries    kg  35811  34378  36739  38757  37267
1       Developing Countries    kg  89795  93935  94023  93624  80454
2  Least Developed Countries    kg      0      0      0      0      0
3       Transition Countries    kg  86523  76320  92625  93028  82181

In [12]:
status = data['Development status']

In [14]:
print(len(status))

4

In [25]:
all_count = {}
all_count['Development status'] = []
all_count['count'] = []
all_count['year'] = []
for i in range(len(status)): 
    # count = data[data['country']==country]
    year = 2016
    for j in range(5):
        all_count['Development status'].append(data['Development status'][i])
        all_count['year'].append(year)
        # print(year)
        year += 1
        # print(data.iat[i,j+2])
        all_count['count'].append(data.iat[i,j+2])

In [26]:
print(all_count)

{'Development status': ['Developed Countries ', 'Developed Countries ', 'Developed Countries ', 'Developed Countries ', 'Developed Countries ', 'Developing Countries ', 'Developing Countries ', 'Developing Countries ', 'Developing Countries ', 'Developing Countries ', 'Least Developed Countries ', 'Least Developed Countries ', 'Least Developed Countries ', 'Least Developed Countries ', 'Least Developed Countries ', 'Transition Countries ', 'Transition Countries ', 'Transition Countries ', 'Transition Countries ', 'Transition Countries '], 'count': [35811, 34378, 36739, 38757, 37267, 89795, 93935, 94023, 93624, 80454, 0, 0, 0, 0, 0, 86523, 76320, 92625, 93028, 82181], 'year': [2016, 2017, 2018, 2019, 2020, 2016, 2017, 2018, 2019, 2020, 2016, 2017, 2018, 2019, 2020, 2016, 2017, 2018, 2019, 2020]}

In [27]:
df = pd.DataFrame(all_count)

In [28]:
df.to_csv('palladium development status.csv')

## Ranking

In [42]:
data = pd.read_csv("palladium rank.csv")

In [43]:
print(data)

          Country unit   2016   2017   2018   2019   2020  16  17  18  19  20
0       Australia   kg    610    610    430    390    420   8   8   8   8   8
1          Canada   kg  21200  19140  20880  23340  21430   3   3   3   3   3
2           China   kg   1300   1400   1300   1300   1300   6   6   6   6   6
3         Finland   kg    901   1021   1157    699    858   7   7   7   7   7
4          Poland   kg     30      7      5      5      4   9  10  10  11  11
5          Russia   kg  86500  76270  92570  92900  81990   1   2   1   1   1
6          Serbia   kg     23     50     55    100    100  10   9   9   9   9
7    South Africa   kg  76273  80713  80629  80684  66264   2   1   2   2   2
8   United States   kg  13070  13600  14267  14323  14555   4   4   4   4   4
9      Uzbekistan   kg      0      0      0     28     91  11  11  11  10  10
10       Zimbabwe   kg  12222  11822  12094  11640  12890   5   5   5   5   5

In [44]:
print(data.iat[0,0+7])

8

In [45]:
all_count = {}
all_count['Country'] = []
all_count['rank'] = []
all_count['year'] = []
for i in range(len(data['Country'])): 
    # count = data[data['country']==country]
    year = 2016
    for j in range(5):
        all_count['Country'].append(data['Country'][i])
        all_count['year'].append(year)
        # print(year)
        year += 1
        # print(data.iat[i,j+2])
        all_count['rank'].append(data.iat[i,j+7])

In [46]:
df = pd.DataFrame(all_count)

In [48]:
# print(df)

In [ ]:
df.to_csv('palladium rank reformatted.csv')